.container {
  /* margin: 0em 5em 0em 0em; */
  display: flex;
  flex-direction: row;
}

.left-pane{
  width: 70%;
  height: 100vh;
  background-color:aliceblue
}

.right-pane{
  width: 30%;
  height: 100vh;
  background-color:beige
}